<div class="container-md">
    <div class="row mt-3">
        <div class="col-lg-6 offset-lg-3 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h1 class="text-center">Nuevo partido</h1>

                    <form [formGroup]="newMatchForm" (ngSubmit)="onSubmit()">
                        <div class="mb-3 has-validation">
                            <label [for]="controls.dateTime" class="form-label">Fecha y Hora</label>
                            <input
                                type="dateTime-local"
                                [min]="getDateNow()"
                                class="form-control {{ getControlValidClass(controls.dateTime) }}"
                                [id]="controls.dateTime"
                                [formControl]="controls.dateTime"
                            />
                            <div
                                *ngIf="controlHasError(controls.dateTime)"
                                class="invalid-feedback"
                            >
                                La fecha y hora es obligatoria
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="location" class="form-label">Lugar</label>
                            <input
                                placeholder="Ubicacion del partido"
                                type="text"
                                class="form-control {{ getControlValidClass(controls.location) }}"
                                id="location"
                                [formControl]="controls.location"
                            />
                            <div
                                *ngIf="controlHasError(controls.location, 'required')"
                                class="invalid-feedback"
                            >
                                El lugar es obligatorio
                            </div>
                            <div
                                *ngIf="controlHasError(controls.location, 'minlength')"
                                class="invalid-feedback"
                            >
                                El lugar debe tener al menos 4 caracteres
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Crear partido</button>
                    </form>

                    <div class="alert alert-success mt-4" *ngIf="resultMessage">
                        <p class="text-center">
                            {{ resultMessage }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
